.sliderMain {
    width: 755px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}
.sliderMain button {
    width: 99px;
    height: 55px;
    border-radius: 10px;
    background-color: tomato;
    border: 3px solid bisque;
    font-weight: bolder;
    font-size: 20px;
    font-family: monospace;
}
.sliderMain img {
    width: 455px;
    height: 300px;
}